<h1>Greetings</h1>

<!-- <a href="/greetings/greet">Greetings</a>

<ul>
    {{#each greeting}}
    <li>{{name}}</li>
    {{/each}}
</ul>

 -->
















































<!-- {{#if messages.error}}
<div class="error">
{{messages.error}}
<br>
<br>
</div>
{{/if}}
{{#if messages.success}}
<div class="success">
{{messages.success}}
<br>
<br>
</div>
{{/if}} -->
