<!-- <h1>Greetings</h1


<ul>
        <li>{{name}}</li>
</ul> -->
<ul>
{{#each greets}}
<li>{{name}}</li>
{{/each}}
</ul>









































<!-- <a href="/greetings/greet">Greetings</a> -->








<!-- {{#if messages.error}}
<div class="error">
{{messages.error}}
<br>
<br>
</div>
{{/if}}
{{#if messages.success}}
<div class="success">
{{messages.success}}
<br>
<br>
</div>
{{/if}} -->
